.Sort {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    width: 100%;
    min-height: 500px;
    height: 50vh;
    background-color: lightskyblue;
}

.Sort div {
    margin-right: 0.5rem;
}

.Sort div:last-child {
    margin: 0;
}